.navBar {
  background-color: #0d9488; /* Cool teal color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navTitle {
  flex-grow: 1;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navLinks button {
  margin-right: 10px;
  color: white;
}

.navLinks .signUpButton {
  background-color: #ffcc00;
  color: black;
  border-radius: 20px;
}

.navLinks .signUpButton:hover {
  background-color: #e6b800;
}

.MuiDrawer-paper {
  width: 250px;
}

.MuiListItem-root {
  text-align: center;
}
